/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-size: 62.5%;
    font-family: Whitney, Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 3em;
}

p {
    font-size: 2rem;
}

ul{
    list-style: none;
}

hr {
    margin: 2em 0;
    color: #4f5d8c;
}

.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

/* UTILITY */
.bdashed {
    border: 1px dashed black;
}

.bwhite {
    border-color: #ffffff;
}

.button {
    border-radius: 50px;
    text-decoration: none;
    padding: 0.7em;

    /* Default */
    font-weight: 600;
    color: #000000;
    background-color: #fdfdfe;
}

.dark {
    color: #fdfdfd;
    background-color: #23272b;
}

.cta{
    width: 100%;

    display: flex;
    justify-content: center;
    column-gap: 3em;
}

/* HEADER */
header {
    height: 70px;

    background-color: #255ee9;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bar {
    height: 100%;

    display: flex;
    align-items: center;

    font-size: 1.8rem;
}

.logo {
    height: 100%;
    width: 25%;

    display: flex;
    align-items: center;
}

.logo a {
    height: 30px;
}

.logo img {
    height: 100%;
}

nav {
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    width: 100%;

    display: flex;
    justify-content: space-around;
}

nav a{
    color: #ffffff;
    text-decoration: none;
}

.login {
    height: 100%;
    width: 25%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Jumbotron */
.jumbotron {
    color: #ffffff;
    background-image: url(../img/jumbo.png);
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 500px;
}

.jumbotron-content {
    height: 80%;
    width: 55%;
    max-width: 942px;

    text-align: center;
}

.jumbotron-content h2 {
    margin-bottom: 0.8em;
}

.jumbotron-content p {
    margin-bottom: 1em;
    line-height: 1.5em;
}

/* .jumbotron-content */
.jumbotron-content a {
    font-size: 2rem;
}

/* MAIN */
main {
    color: #000000;
    background-color: #f6f6f6;
    padding: 13em 0;
}

.paragraph {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 10em 0;

    background-color: #ffffff;
}

.paragraph:nth-child(2) {
    background-color: #f6f6f6;
    
    flex-direction: row-reverse;
}

/* Small paragraphs */
.p-content {
    display: flex;

    width: 100%;
}

.p-content .image {
    width: 60%;
}

.p-content .image img {
    width: 100%;
}

.p-content .text {
    width: 40%;
}

.p-content .text h2 {
    line-height: 1.3em;
    margin-bottom: 0.8em;
}

.p-content .text p {
    line-height: 1.4em;
}

/* Big paragraph */
.p-big-content {
    width: 100%;

    text-align: center;
}

.p-big-content .text {
    width: 100%;
}

.p-big-content .image img{
    width: 100%;
}

/* Bottom CTA */
.bottom-cta {
    text-align: center;
    background-color: #f6f6f6;
}

.bottom-cta-button a {
    font-size: 2rem;
    margin-top: 4em;

    color: #ffffff;
    background-color: #7289da;
}



/* FOOTER */
footer {
    padding: 8em 0;
    background-color: #23272a;
}

.footer-links {
    display: flex;

    /* DEBUG */
    height: 450px;
    /* background-color: #23272a; */
}

.social {
    width: 25%;

    color: #7289da;
}

.social .language{
    margin: 2.5em 0;
    height: 30px;
}

.social img {
    height: 1.6em;
}

.social select {
    font-size: 1.6rem;
    border: none;
    color: #ffffff;
    background-color: transparent;
}

.social .social-icons {
    font-size: 2rem;
    color: #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 1.3em;
}

.links {
    width: calc(75% / 4);

    font-size: 2rem;
}

.links ul li {
    margin: 0.7em 0;
    color: #ffffff;
}

.links ul li:first-child {
    color: #7289da;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 40px;
}

.elements-bottom {
    padding: 5px;
}

.elements-bottom .button {
    font-size: 1.4rem;
    color: #ffffff;
    background-color: #7087d9;
}